<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="tables">Classifiers list</h1>
                </div>
                <div class="bs-example">
                    <div class="brn-group pull-right">
                        <button class="btn btn-default" ng-if="classifierListCtrl.isEditing" ng-click="classifierListCtrl.cancelChanges()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-primary" ng-if="!classifierListCtrl.isEditing" ng-click="classifierListCtrl.isEditing = true">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-primary" ng-if="classifierListCtrl.isEditing" ng-disabled="!classifierListCtrl.hasChanges() || classifierListCtrl.tableTracker.$invalid" ng-click="classifierListCtrl.saveChanges()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                       
                    </div>
                    <table ng-table="classifierListCtrl.tableParams" class="table table-striped table-bordered table-hover" ng-form="classifierListCtrl.tableForm" demo-tracked-table="classifierListCtrl.tableTracker">
                        <tr ng-repeat="result in $data" ng-form="rowForm">
                            <td title="'ID'" filter="{title: 'text'}" ng-switch="classifierListCtrl.isEditing" sortable="'title'" ng-form="title">
                                <span >{{result.idClassifier}}</span>
                                
                            </td>
                            <td title="'Vectorized document ID'" filter="{content: 'text'}" ng-switch="classifierListCtrl.isEditing" sortable="'content'" ng-form="vectorized">
                                <span>{{result.vectorizedDocumentCollectionId}}</span>
                                
                            </td>
                            <td title="'Name'" filter="{name: 'text'}" ng-switch="classifierListCtrl.isEditing" sortable="'content'" ng-form="name">
                                <span>{{result.name}}</span>
                                
                            </td>
                            <td title="'Date'" filter="{date: 'text'}" ng-switch="classifierListCtrl.isEditing" sortable="'content'" ng-form="date">
                                <span>{{result.date}}</span>
                                
                            </td>
                            <td title="'Parameter'" filter="{parameter: 'text'}" ng-switch="classifierListCtrl.isEditing" sortable="'content'" ng-form="parameter">
                                <span>{{result.parameter}}</span>
                                
                            </td> 
                           <td title="'Flag'" filter="{flag: 'text'}" ng-switch="classifierListCtrl.isEditing" sortable="'content'" ng-form="flag">
                                <span>{{result.flag}}</span>
                                
                            </td> 
                             <td>
                                <button class="btn btn-default" ng-click="classifierListCtrl.showResults(result)">Show Results
                                </button>
                                <br>
                                <button class="btn btn-default" ng-click="classifierListCtrl.test(result)">Test                            
                                </button>
                            </td>       
                            <td>
                                <button class="btn btn-danger btn-sm" ng-click="classifierListCtrl.del(result)" ng-disabled="!classifierListCtrl.isEditing">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div class="bs-docs-section">
                    </div>
                    <!-- /example -->
                </div>
            </div>
        </div>
    </div>
</div>
