<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="forms">kFold algorithm parameters</h1>
        </div>
      </div>
    </div>
	</p>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <form class="bs-example form-horizontal">
            <fieldset>
			  <div class="form-group">
				<label for="inputNFolds" class="col-lg-2 control-label">n_folds</label>
				<div class="col-lg-10">
				  <input type="text" class="form-control" id="inputNFolds" value="3">
				  <span class="help-block">(int) Number of folds. Must be at least 2.</span>
				</div>
			  </div>
			  <div class="form-group">
                <label for="inputShuffle" class="col-lg-2 control-label">shuffle</label>
                <div class="col-lg-10">
                  <input type="checkbox" id="inputShuffle"> Whether to shuffle the data before splitting into batches.
				  <span class="help-block">(boolean)</span>
                </div>
              </div>
			  <div class="form-group">
				<label for="inputRandomState" class="col-lg-2 control-label">random_state</label>
				<div class="col-lg-10">
				  <input type="text" class="form-control" id="inputRandomState">
				  <span class="help-block">(None, int or &#39;RandomState&#39;) When shuffle=True, pseudo-random number generator state used for shuffling. If None, use default numpy RNG for shuffling.</span>
				</div>
			  </div>
            </fieldset>
          </form>
		  
        </div>
      </div>
	  <br>			
			<br>					
			<button type="button" class="btn btn-default">Back</button>
			<button type="button" class="btn btn-primary">Continue</button>
    </div>
  </div>
  
  
</div>
