<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="forms">shuffleSplit algorithm parameters</h1>
        </div>
      </div>
    </div>
	</p>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <form class="bs-example form-horizontal">
            <fieldset>
			  <div class="form-group">
				<label for="inputNIter" class="col-lg-2 control-label">n_iter</label>
				<div class="col-lg-10">
				  <input type="text" class="form-control" id="inputNIter" value="10">
				  <span class="help-block">(int) Number of re-shuffling & splitting iterations.</span>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputTestSize" class="col-lg-2 control-label">test_size</label>
				<div class="col-lg-10">
				  <input type="text" class="form-control" id="inputTestSize" value="0.1">
				  <span class="help-block">(float, int, or None) 
				  <ul>
					<li>If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split. 
					<li>If int, represents the absolute number of test samples. 
					<li>If None, the value is automatically set to the complement of the train size.
				  </ul></span>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputTrainSize" class="col-lg-2 control-label">train_size</label>
				<div class="col-lg-10">
				  <input type="text" class="form-control" id="inputTrainSize">
				  <span class="help-block">(float, int, or None) 
				  <ul>
					<li>If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the train split. 
					<li>If int, represents the absolute number of train samples. 
					<li>If None, the value is automatically set to the complement of the test size.
				  </ul></span>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputRandomState" class="col-lg-2 control-label">random_state</label>
				<div class="col-lg-10">
				  <input type="text" class="form-control" id="inputRandomState">
				  <span class="help-block">(int or &#39;RandomState&#39;) Pseudo-random number generator state used for random sampling.</span>
				</div>
			  </div>
            </fieldset>
          </form>
		  
        </div>
      </div>
	  <br>			
			<br>					
			<button type="button" class="btn btn-default">Back</button>
			<button type="button" class="btn btn-primary">Continue</button>
    </div>
  </div>
  
  
</div>
