
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Zaloguj się</h2>
        <label for="inputLogin" class="sr-only">Nazwa użytkownika</label>
        <input ng-model="loginIndexCtrl.inputLogin" id="inputLogin" class="form-control" placeholder="Nazwa użytkownika" required autofocus>
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input ng-model="loginIndexCtrl.inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
        <div class="checkbox">
          <label>
            <!-- <input type="checkbox" value="remember-me"> Remember me -->
            <button class="btn btn-link" type="button">Utwórz konto</button>
          </label>
        </div>
        <button ng-click="loginIndexCtrl.login()" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
      </form>

    </div> <!-- /container -->

